h1 {
    font-size: 20px;
    font-weight: bold;
    text-indent: 10px;
    padding: 10px;
}
thead th {
    font-weight: bold;
    font-size: 16px;
}

td, th {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.link {
    transition-duration: .4s;
}

.link:hover {
    cursor: pointer;
    background-color: lightsalmon;
}